<% include ./index_head %>

<div class="container-fluid whole-width" data-spy="scroll" data-target="top-navbar">


	
	<div class="row mx-auto banner-big banner-main">
				<div class="col-sm-6 col-md-7 col-lg-12 col-xl-12 mx-auto">
				<img class="circled mx-auto d-block" src=".\Style\imgs\31120849_790926797783003_760876636424896512_n.jpg" width="250px">
			</div>

		<div class="col-sm-9 col-md-8 col-lg-5 col-xl-12 mx-auto">
			<h1 class="display-1 text-color-prettywhite text-shadow-1 tCenter d-sm-block">Tuisku Saarelainen</h1>
			<p class="lead text-color-prettywhite text-shadow-1 tCenter margin-offset-1">Game developer, designer and programmer that <span class="text-color-prettyblue"><%- randomWord %></span> the world.</p>
			<p class="lead text-color-prettywhite text-shadow-1 tCenter margin-offset-1">Lets play a game.</p>
		</div>

	</div>

		<div id="skills" class="row banner-md mx-auto color-bg-charcoal">
		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Professional skills</h1>
		</div>
		<div class="spacer-md"></div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4"><img class ="mx-auto d-block" src="./Style/imgs/Unreal_Engine_Horiz_White.png" style="width:300px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:10px"><img class ="mx-auto d-block" src="./Style/imgs/unity-master-white.png" style="width:150px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:20px"><h2 class="text-center">Game design</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">Game dev</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">C++</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">C#</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">JavaScript</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px;"><img class ="mx-auto d-block" src="./Style/imgs/nodejs-new-white.png" style="width:150px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">Bootstrap 4</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">MongoDB</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">MySQL</h1></div>

	
	</div>



		<div id="myStory" class="row banner-md mx-auto color-bg-prettywhite">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto spacer-md">
			<h1 class="display-4 tCenter">My story.</h1>
			</div>
			
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
				
				<p class="text-justify">Games has been, just like yours, passion to me. Not just playing them but creating and designing them. I am interest in any kind of game genre, from cartoonish indies to AAA first-person-shooters.</p>
				<p class="text-justify">Writing and drawing things down started when I was 8 years old. The flame inside me began growing when I met guys who create games, so I started designing those.</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
				
				<p class="text-justify">I went to Karelia University of Applied Sciences to strength my programming skills. After a while, I found myself in a game company (that actually did not do games) and got familiar with Unreal Engine 4, C++, Virtual Reality, animations and blueprints.</p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-5 col-xl-6 mx-auto">

			</div>

			<div class="spacer-md"></div>

			<div id="social" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto spacer-md">
				<h1 class="display-4 tCenter">@socialmedia</h1>
			</div>
			
			<div class="col-12 col-sm-12 col-md-6 col-lg-4 mx-auto d-block"><a target="_blank" href="https://facebook.com/1furrow"><img class ="float-left" src="./Style/imgs/flogo-RGB-HEX-Blk-58.png" style="width:40px; padding:10px"> <p style="padding:5px; font-size:1.2em">facebook.com/1furrow</p></a></div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4 mx-auto" style="padding-top:7px;"><a target="_blank" href="https://linkedin.com/in/tuisku-saarelainen-13370
"><img class ="mx-auto d-block" src="./Style/imgs/Logo-Black-128px-TM.png" style="width:100px"></a></div>


		</div>



	<div id="experience" class="row banner-md mx-auto color-bg-charcoal">

		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Portfolio</h1>
			<% if(entries.length > 0) { %> 
			<h5 class="display-6 tCenter">Showing <%- entries.length %> most watched entries</h5>
			<% } %>
		</div>
		<div class="spacer-md"></div>

		<% if(entries.length > 0) { %> 
			<% for(var i = 0; i < entries.length; i++) { %>

				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
					<a href="/portfolio/entries?id=<%- entries[i].id %>">
					<figure class="figure">
						<img src="<%- entries[i].banner %>" class="figure-img img-fluid rounded" alt="">
						<figcaption class="figure-caption text-center"> <%- entries[i].header %> </figcaption>
					</figure>
					</a>
				</div>

			<% } %>
		<% } %>
	
		<div class="col-12 mx-auto">
			<a href="/portfolio"><h4 class="display-6 tCenter">Explore my whole portfolio in here <span class="fas fa-external-link-alt" aria-hidden="true"></span></h4></a>
		</div>
				<div class="spacer-md"></div>

		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Experience</h1>
		</div>
		<div class="spacer-md"></div>

		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
				<div class="card-header"><h5>Self-employed</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Game programmer, designer <span class="badge badge-success">Current job</span></h5>
				<p class="card-text">C++ gameplay programmer. Unpublished AAA title.</p>
				<img class ="mx-auto d-block" src="./Style/imgs/Unreal_Engine_Horiz_White.png" style="width:80%">
			  </div>
			  <div class="card-footer">
					<small class="text-muted">9 months and counting</small>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
			<div class="card-header"><h5>Joensuu Games Co-op</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Programmer</h5>
				<p class="card-text">C++ programmer, VR developer, cinematics and sequences.</p>
				<img class ="mx-auto d-block" src="./Style/imgs/Unreal_Engine_Horiz_White.png" style="width:80%">
			  </div>
			  				<div class="card-footer">
					<small class="text-muted">6 months, 2018</small>
				</div>
			</div>

		</div>

		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
			<div class="card-header"><h5>Joensuu Games Co-op</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Intern, programmer</h5>
				<p class="card-text">Internship in Joensuu Games co-op. We learned to use UE4 and program gameplay functionalities in C++ / Blueprints. Got myself familiar with animations blueprinting and AI programming.</p>
				<img class ="mx-auto d-block" src="./Style/imgs/Unreal_Engine_Horiz_White.png" style="width:80%">
			  </div>
			  				<div class="card-footer">
					<small class="text-muted">5 months, 2017</small>
				</div>
			</div>

		</div>

		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
			<div class="card-header"><h5>Freelance</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Web devevelopment</h5>
				<p class="card-text">Node.JS, ES6, MongoDB</p>
			  </div>
				<div class="card-footer color-bg-charcoal">
					<small class="text-muted">+2 years and counting</small>
				</div>
			</div>
		</div>

    </div>	

	
	</div>

				<div class="row banner-md mx-auto color-bg-prettywhite">
		<div class="col-sm-4 col-md-4 col-lg-5 col-xl-6 mx-auto">
			<blockquote class="blockquote">
				<p class="mb-0">In IT industry, only passion matters.</p>
				<footer class="blockquote-footer"><cite title="Source Title">Tuisku Saarelainen</cite></footer>
			</blockquote>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto">
			<p>Game industry has changed a lot in decade. Start-ups struggle with their early access games with low profit. Some of them made throught hard times to well known studios, that create products with passion. In IT industry, only passion matters.</p>
			<p>What will happen in next decade? Do big companies take over or will people loose interest in games? What it is us, game developers, mission to do with those problems?</p>
			<p>We are those who take control of things. Small companies have strength of taking care of their employees and customers. Revolution of game industry is about to began.</p>
		</div>
	</div>


<% include ./index_footer %>