<% include ./index_head %>

<div class="container-fluid whole-width" data-spy="scroll" data-target="top-navbar">


	
	<div class="row mx-auto banner-big banner-main">
				<div class="col-sm-6 col-md-7 col-lg-12 col-xl-12 mx-auto">
				<img class="circled mx-auto d-block" src=".\Style\imgs\face.png" width="250px">
			</div>

		<div class="col-sm-9 col-md-8 col-lg-5 col-xl-12 mx-auto">
			<h1 class="display-1 text-color-prettywhite text-shadow-1 tCenter d-sm-block">Mr. Incognito</h1>
			<p class="lead text-color-prettywhite text-shadow-1 tCenter margin-offset-1">Man behind goggles and strange hat which <span class="text-color-prettyblue"><%- randomWord %></span> the world.</p>
			<p class="lead text-color-prettywhite text-shadow-1 tCenter margin-offset-1">Lets play hide and seek.</p>
		</div>

	</div>

		<div id="skills" class="row banner-md mx-auto color-bg-charcoal">
		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Professional skills</h1>
		</div>
		<div class="spacer-md"></div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4"><img class ="mx-auto d-block" src="./Style/imgs/Unreal_Engine_Horiz_White.png" style="width:300px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:10px"><img class ="mx-auto d-block" src="./Style/imgs/unity-master-white.png" style="width:150px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="margin-top:20px"><h2 class="text-center">Game design</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">Game dev</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">C++</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">C#</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">JavaScript</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px;"><img class ="mx-auto d-block" src="./Style/imgs/nodejs-new-white.png" style="width:150px"></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">Bootstrap 4</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">MongoDB</h1></div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-top:20px; margin-top:20px"><h2 class="text-center">MySQL</h1></div>

	
	</div>



		<div id="myStory" class="row banner-md mx-auto color-bg-prettywhite">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto spacer-md">
			<h1 class="display-4 tCenter">My story.</h1>
			</div>
			
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
				
				<p class="text-justify">Maecenas eu quam congue, fringilla ex eu, convallis lacus. Nullam rhoncus, purus quis iaculis elementum, nulla tellus efficitur lorem, eget interdum ipsum arcu sit amet arcu. Sed nec tempor metus, ac eleifend nibh. Aenean sed quam a lacus consectetur ullamcorper. Nullam posuere porttitor ornare. Nunc ac nulla id tortor suscipit imperdiet. In a purus non orci ultrices suscipit vitae in lorem. Nullam auctor ornare lectus, eget dignissim risus finibus at. Phasellus at nibh quis urna porta rutrum a non orci.

Curabitur consequat ornare nulla eget efficitur. Nulla eget congue sapien. Aliquam erat volutpat. Duis congue ipsum non neque ultricies, vitae molestie lacus suscipit. Phasellus eu nibh elit. Sed at lacinia est. In euismod fermentum lorem, eget mattis tellus feugiat ultrices. In ultricies risus erat, vel pulvinar nibh pulvinar at. Pellentesque placerat quam nec lacus tristique, in ultricies ipsum ultricies.</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
				
				<p class="text-justify">Donec nec suscipit mi. Duis purus ipsum, gravida in vulputate ac, porttitor dapibus ipsum. Suspendisse porttitor mattis nisi id pharetra. Aliquam erat volutpat. Aenean mattis dictum dui, ut placerat massa suscipit ac. Ut ut dolor tellus. Nunc gravida tristique ex consequat scelerisque. Curabitur ullamcorper feugiat quam eget facilisis. Pellentesque mollis, erat in mattis mattis, felis mi rutrum ipsum, a dictum leo nisi eget nunc. Mauris et eleifend ipsum, quis ultrices turpis. Nunc accumsan tortor sit amet sollicitudin maximus. Donec dui est, facilisis vitae urna ut, elementum venenatis erat.</p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-5 col-xl-6 mx-auto">

			</div>

			<div class="spacer-md"></div>

			<div id="social" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto spacer-md">
				<h1 class="display-4 tCenter">@socialmedia</h1>
			</div>
			
			<div class="col-12 col-sm-12 col-md-6 col-lg-4 mx-auto d-block"><a target="_blank" href="https://facebook.com"><img class ="float-left" src="./Style/imgs/flogo-RGB-HEX-Blk-58.png" style="width:40px; padding:10px"> <p style="padding:5px; font-size:1.2em">facebook.com/incognito</p></a></div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-4 mx-auto" style="padding-top:7px;"><a target="_blank" href="https://linkedin.com/
"><img class ="mx-auto d-block" src="./Style/imgs/Logo-Black-128px-TM.png" style="width:100px"></a></div>


		</div>



	<div id="experience" class="row banner-md mx-auto color-bg-charcoal">

		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Portfolio</h1>
			<% if(entries.length > 0) { %> 
			<h5 class="display-6 tCenter">Showing <%- entries.length %> most watched entries</h5>
			<% } %>
		</div>
		<div class="spacer-md"></div>

		<% if(entries.length > 0) { %> 
			<% for(var i = 0; i < entries.length; i++) { %>

				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
					<a href="/portfolio/entries?id=<%- entries[i].id %>">
					<figure class="figure">
						<img src="<%- entries[i].banner %>" class="figure-img img-fluid rounded" alt="">
						<figcaption class="figure-caption text-center"> <%- entries[i].header %> </figcaption>
					</figure>
					</a>
				</div>

			<% } %>
		<% } %>
	
		<div class="col-12 mx-auto">
			<a href="/portfolio"><h4 class="display-6 tCenter">Explore my whole portfolio in here <span class="fas fa-external-link-alt" aria-hidden="true"></span></h4></a>
		</div>
				<div class="spacer-md"></div>

		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Experience</h1>
		</div>
		<div class="spacer-md"></div>

		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
				<div class="card-header"><h5>Self-employed</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Spy<span class="badge badge-success">Current job</span></h5>
				<p class="card-text">Best spy in the world.</p>
			  </div>
			  <div class="card-footer">
					<small class="text-muted">65 years and counting</small>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">
			<div class="card text-center ">
			<div class="card-header"><h5>Laundry-man</h5></div>
			  <div class="card-body color-bg-charcoal">
				<h5 class="card-title">Cleaner and laundry-man</h5>
				<p class="card-text">Take care of hospital laundries</p>
			  </div>
			  				<div class="card-footer">
					<small class="text-muted">6 months, 2018</small>
				</div>
			</div>

		</div>

    </div>	

	
	</div>

	<div class="row banner-md mx-auto color-bg-prettywhite">
		<div class="col-sm-4 col-md-4 col-lg-5 col-xl-6 mx-auto">
			<blockquote class="blockquote">
				<p class="mb-0">Sssssh...</p>
				<footer class="blockquote-footer"><cite title="Source Title">Mr. Incognito</cite></footer>
			</blockquote>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus sollicitudin bibendum. Sssssh... In hac habitasse platea dictumst. Nunc a ex quis lorem fermentum egestas vel ut tellus. Fusce in ipsum ac dui molestie faucibus.</p>
		</div>
	</div>


<% include ./index_footer %>