<% include index_head %>

<div class="container-fluid" style="padding-top:60px;">

			<div class="row mx-auto">
				<div class="col-12 mx-auto">
					<% if(entries.length > 0) { %>
					<div class="col-sm-12 col-md-9 col-lg-8 col-xl-7 mx-auto">
						<img width="100%" src="<%- entries[0].banner %>">
						<h1><%- entries[0].header %></h1>
						<p><%- entries[0].author %></p>
						<p><small class="text-muted"><%- entries[0].date %></small></p>
						<%- entries[0].content %>
					</div>
					<% } %>
				</div>
			</div>

	</div>
</div>

<% include index_footer %>